# 게임 실력 향상 방안 분석
----------------------------

## SQL 쿼리를 활용하여 Squad Data 불러오기
----------

### 1. agg_match_stat Data와 kill_match_stats_final Data의 match_id와 player_name이 같은 값을 Join하고, Party_size가 4인 스쿼드 데이터만 불러오기

In [24]:
# cx_Oracle 패키지 모듈들을 import
import pandas as pd
import cx_Oracle as oci

# Oracle 서버와 연결(Connection 맺기)
# 사용자이름/비밀번호@호스트이름:포트/서비스이름
conn = oci.connect('hr/hr@121.135.1.215:1521/XEPDB1')

# Connection 확인
print(conn.version)
query = '''
with agg_all as
(
    select * from agg_match_stats_0 
    union all
    select * from agg_match_stats_1 
    union all
    select * from agg_match_stats_2
    union all
    select * from agg_match_stats_3
    union all
    select * from agg_match_stats_4
),
kill_all as 
(
    select * from kill_match_stats_final_0
    union all
    select * from kill_match_stats_final_1
    union all
    select * from kill_match_stats_final_2
    union all
    select * from kill_match_stats_final_3
    union all
    select * from kill_match_stats_final_4
)
select a.dates
       , a.game_size
       , a.match_id
       , a.match_mode
       , a.party_size
       , a.player_assists
       , a.player_dbno
       , a.player_dist_ride
       , a.player_dist_walk
       , a.player_dmg
       , a.player_kills
       , a.player_name
       , a.player_survive_time
       , a.team_id
       , a.team_placement
       , k.killed_by
       , k.killer_placement
       , k.killer_position_x
       , k.killer_position_y
       , k.map
       , k.time
       , k.victim_name
       , k.victim_placement
       , k.victim_position_x
       , k.victim_position_y
from agg_all a, kill_all k 
where (a.match_id = k.match_id) and (a.player_name = k.killer_name) and (a.party_size = 4)
'''
query = query[1:].replace('\n', ' ').replace('    ', '')

squad_df = pd.read_sql(query, con = conn)
conn.close

18.4.0.0.0

In [25]:
squad_df.head()

,DATES,GAME_SIZE,MATCH_ID,MATCH_MODE,PARTY_SIZE,PLAYER_ASSISTS,PLAYER_DBNO,PLAYER_DIST_RIDE,PLAYER_DIST_WALK,PLAYER_DMG,...,KILLED_BY,KILLER_PLACEMENT,KILLER_POSITION_X,KILLER_POSITION_Y,MAP,TIME,VICTIM_NAME,VICTIM_PLACEMENT,VICTIM_POSITION_X,VICTIM_POSITION_Y
0,2017-12-11T22:02:39+0000,24,2U4GBNA0YmnmvI29GR080nJ5U4oZyrJ2kJqz7BeQrwDdx6...,tpp,4,0,1,0.00000,97.563416,122,...,Down and Out,24,425834.9,327090.6,ERANGEL,127,battle-grounds-,18.0,425840.1,325253.1
1,2017-12-11T22:02:39+0000,24,2U4GBNA0YmnmvI29GR080nJ5U4oZyrJ2kJqz7BeQrwDdx6...,tpp,4,0,1,0.00000,383.686646,56,...,M16A4,14,157698.2,275588.1,ERANGEL,414,Seventh_Snow,16.0,157858.5,275658.0
2,2017-12-11T22:02:39+0000,24,2U4GBNA0YmnmvI29GR080nJ5U4oZyrJ2kJqz7BeQrwDdx6...,tpp,4,1,1,2718.57275,2480.806640,200,...,AKM,2,158904.4,276730.2,ERANGEL,546,Sgr___c,14.0,158558.1,276415.3
3,2017-10-25T01:39:22+0000,27,2U4GBNA0YmmEUK5MTLyr6AfVvoPX1txbeD-jND4VXYtMmo...,tpp,4,0,1,2201.33228,4093.955570,71,...,SCAR-L,5,240125.2,455128.2,ERANGEL,1766,KUAILEDEWO,4.0,238447.0,456250.2
4,2017-10-25T01:39:22+0000,27,2U4GBNA0YmmEUK5MTLyr6AfVvoPX1txbeD-jND4VXYtMmo...,tpp,4,2,2,2125.46631,1152.600590,301,...,UMP9,18,133149.6,306517.6,ERANGEL,914,SteiffMeister,17.0,134235.5,302729.8

## EDA 수행
----

### 1.

## 일정 비율의 데이터로 티어 구간 지정하기 or PUBG의 티어 구간 활용?
---

### 1.

## Squad Data를 티어별로 나누어 각 티어별 특징 도출 with 파생변수
---

### 1.

## 다음 티어로 나아가기위한 개선방안 제안 - 각 티어별 특징의 차이를 통해
---

### 1.